<!DOCTYPE html>
<html>
	<head>
		  <meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	        <meta name="description" content="SALVA es una fundación  protectora de animales, que busca ayudar a fauna domestica en estado de abandono.">
	        <meta name="viewport" content="width=device-width, initial-scale=1">
	        
	        <title>Fundación Salva</title>
	        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

	        
	        <meta name="twitter:site" content="@FundacionSalva"/>
	        <meta property="article:publisher" content="https://www.facebook.com/fundacion.salva/"/>
	        <meta property="og:locale" content="es_ES" />
	        <meta property="og:title" content="Fundación Salva" />
	        <meta property="og:site_name" content="Fundación Salva" />

	        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	        <link rel="stylesheet" href="css/font-awesome.min.css">
	        <link rel="stylesheet" href="css/style.css">
	        <link rel="stylesheet" href="css/about.css">
	</head>

	<body>

		 <div id="loading_container">
            <div id="loading"></div>
        </div>

	 	<header id="header">
	            <nav class="menu">
	                <div class="logo">
	                    <a href="#">
	                        <img src="assets/logosalva.png" alt="">
	                    </a>
	                    <a href="#" class="btn-menu" id="btn-menu">
	                        <i class="icon fa fa-bars" aria-hidden="true"></i>
	                    </a>
	                </div>
	                <div class="links" id="links">
	                    <a href="#home-id--ref" id="btn-home">Inicio</a>
	                    <a href="#donation-id--ref">Dona</a>
	                    <a href="#adoption-id--ref">Adopta</a>
	                    <a href="#friend-id--ref">Apadrina</a>
	                    <a href="#contact-id--ref">Contáctanos</a>
	                </div>
	            </nav>
	        </header>

	        <main>
				<div class="container">
					<div class="container_card">
						
							<figure>

								 <div id="donation-card-section">
			                    <section class="frontal" ng-repeat="control in homeCtrl.listControls">
			                        <div class="card-header">
			                            <img src="assets/nosotros.png" alt="">
			                        </div>
			      
			                        <div class="card-footer">
			                               NOSOTROS
			                        </div>
			                    </section>
								<!-- <img src="assets/biancamision.png" class="frontal"> -->
								<figcaption class="back">
									<h2>NOSOTROS</h2>
									<hr>
									<p>SALVA es una Organización No Gubernamental, de carácter privado, sin ánimo de lucro y pluralista. Somos una fundación  protectora de animales, que busca ayudar a fauna domestica en estado de abandono; brindando atención veterinaria, albergue, cuidado, protección, alimentación y promoción de campañas de manejo humanitario de fauna domestica callejera.</p>
								</figcaption>

							</figure>
					</div>

					<div class="container_card">
						
							<figure>
								 <div id="donation-card-section">
			                    <section class="frontal" ng-repeat="control in homeCtrl.listControls">
			                        <div class="card-header">
			                            <img src="assets/MISION.png" alt="">
			                        </div>
			      
			                        <div class="card-footer">
			                               MISION
			                        </div>
			                    </section>
								<figcaption class="back">
									<h2>MISION</h2>
									<hr>
									<p>Cuidar y proteger animales domésticos y silvestres, fomentando, desarrollando y estimulando la investigación e intervención científica ambiental y social a través de planes, programas y proyectos de tipo técnico, de protección, sensibilización, rescate, rehabilitación de la fauna doméstica y silvestre, bajo los principios de igualdad, convivencia y participación”</p>
								</figcaption>

							</figure>
					</div>
					<div class="container_card">
						
							<figure>
								 <div id="donation-card-section">
			                    <section class="frontal" ng-repeat="control in homeCtrl.listControls">
			                        <div class="card-header">
			                            <img src="assets/VISION.png" alt="">
			                        </div>
			      
			                        <div class="card-footer">
			                              VISION
			                        </div>
			                    </section>
								<figcaption class="back">
									<h2>VISION</h2>
									<hr>
									<p>Ser reconocida como la mejor institución prestadora de servicios médicos veterinarios y asistenciales, enfocada al rescate,  rehabilitación y entrega en  adopción de animales, con un hospital veterinario dirigido a la comunidad en general.   Que brinde ayuda a  animales en estado de abandono y maltrato.</p>
								</figcaption>

							</figure>
					</div>
				</div>
			
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.885269939241!2d-73.30503588539783!3d5.583972295951618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7b69a883163f%3A0x4e85074c2f56320c!2sFundaci%C3%B3n+Salva!5e0!3m2!1ses!2sco!4v1512150717899" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
					
					<div class="advertising">
						<iframe src="https://elandroidelibre.elespanol.com/" height="200" width="300"></iframe>
					</div>
					
				</div>




	        	<footer>
	                <section id="top-footer">
	                    <nav class="footer--nav">
	                        <div class="logo">
	                            <a href="#">
	                                <img src="assets/logosalva.png" alt="">
	                            </a>
	                        </div>
	                        <div class="footer--links" id="footer--links">
	                            <a href="#home-id--ref">Inicio</a>
	                            <a href="#donation-id--ref">Dona</a>
	                            <a href="#adoption-id--ref">Adopta</a>
	                            <a href="#friend-id--ref">Apadrina</a>
	                            <a href="#contact-id--ref">Contáctanos</a>
	                        </div>
	                    </nav>
	                </section>

	                <section id="bottom-footer">
	                    <nav class="footer--social-nav">
	                        <div id="footer_description">
	                            <h3>Fundación Salva © 2017 | Todos Los Derechos Reservados.</h3>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.</p>
	                        </div>
	                        <div class="footer--social" id="footer--social">
	                            <a href="https://es-la.facebook.com/fundacion.salva/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	                            <a href="https://twitter.com/fundacionsalva" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	                            <a href="https://www.instagram.com/fundacion.salva_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	                            <a href="https://www.youtube.com/channel/UCshCf1NFRfq06MSr9PIK0Lg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
	                        </div>
	                    </nav>
	                </section>
	        	</footer>
	        </main>
				
	 		<script src="js/headroom.min.js"></script>
	        <script src="js/jquery.min.js"></script>    
	        <script src="js/menu.js"></script>
	</body>
</html>