<!DOCTYPE html>
<html>
	<head>
		  <meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	        <meta name="description" content="SALVA es una fundación  protectora de animales, que busca ayudar a fauna domestica en estado de abandono.">
	        <meta name="viewport" content="width=device-width, initial-scale=1">
	        
	        <title>Fundación Salva</title>
	        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

	        
	        <meta name="twitter:site" content="@FundacionSalva"/>
	        <meta property="article:publisher" content="https://www.facebook.com/fundacion.salva/"/>
	        <meta property="og:locale" content="es_ES" />
	        <meta property="og:title" content="Fundación Salva" />
	        <meta property="og:site_name" content="Fundación Salva" />

	        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	        <link rel="stylesheet" href="css/font-awesome.min.css">
	        <link rel="stylesheet" href="css/style.css">
	        <link rel="stylesheet" href="css/sponsor.css">
	</head>

	<body>

		<a href=""></a>

		 <div id="loading_container">
            <div id="loading"></div>
        </div>

	 	<header id="header">
	            <nav class="menu">
	                <div class="logo">
	                    <a href="#">
	                        <img src="assets/logosalva.png" alt="">
	                    </a>
	                    <a href="#" class="btn-menu" id="btn-menu">
	                        <i class="icon fa fa-bars" aria-hidden="true"></i>
	                    </a>
	                </div>
	                <div class="links" id="links">
	                    <a href="index.html" id="btn-home">Inicio</a>
	                    <a href="#donation-id--ref">Dona</a>
	                    <a href="sponsor.html">Adopta</a>
	                    <a href="#friend-id--ref">Apadrina</a>
	                    <a href="#contact-id--ref">Contáctanos</a>
	                </div>
	            </nav>
	        </header>

	        <main>
				<div class="container">
					<div class="container_card">
						
							<figure>

								 <div id="donation-card-section">
			                    <section class="frontal" ng-repeat="control in homeCtrl.listControls">
			                       <h2>APADRINA UNA ESTERILIZACIÓN</h2>
									
									<p> El objetivo de este programa es apadrinar a perras y gatas de barrios de estratos bajos para que no tengan cachorros y de esta forma detener el aumento de la población callejera de la ciudad.

									</p>
			                    </section>
								
							</figure>
					</div>

					<hr class="divider">
					<div class="container_card">
						
							<figure>
								 <div id="donation-card-section">
			                    <section class="frontal" ng-repeat="control in homeCtrl.listControls">
			                        <h2>APADRINA UN ANGEL</h2>
									
									<p>El objetivo de este programa es apadrinar un animal ya sea un  perro o gato en estado de abandono que ha sido rescatado por  parte de la fundación. Este va a recibir atención veterinaria, tratamiento médico y/o quirúrgico, alimento, albergue,  además de brindarle  todos los cuidados que necesite.</p>
			                    </section>
							</figure>
					</div>


					<!-- <div id="donation-btn-sponsor">
                    <a id="btn-donation--link" href="donationInfo.html">MAS INFORMACION</a>
                	</div> -->
					
				</div>

			<div class="information">
				<div id="information-button">MAS INFORMACION</div>

	
				<div id="myModal" class="modal">

				  <!-- Modal content -->
				  <div class="modal-content">
				    <div class="modal-header">
					    <span class="close">&times;</span>
					     <img src="assets/logosalva.png"  >
					  </div>
					  <div class="modal-body">
					    <p>Por favor debes enviar escaneado el soporte de la donación a la fundación.  Y nosotros te enviaremos a vuelta de correo,  el recibo de donación,  como soporte a tu contribución y si eres una empresa, te estaremos haremos llegar un certificado de donación  para que de esta manera deduzcas el monto de tus impuestos

						</p>
					    
					  </div>
					  
				  </div>

				</div>
			</div>

				

				<hr id="donation_separator">

					
				<div class="galery">
                        
                    <div id="donation--text-title">
                    <p class="title-galery">"El hombre puede medir el valor de su propia alma en la mirada agradecida que le dirija un animal al cual ha socorrido."
					-Platón</p>
                </div>
				</div>
			
				<div id="container">
			    <div id="top">
			        <div id="top-top">
			            <img src="salvapictures/4.jpg" alt=""  width="500px">
			        </div>
			        <div id="top-bottom">
			            <div class="bt-west">
			            <img src="salvapictures/7.jpg" alt="" width="250px">
			            </div>
			            <div class="bt-east">
			            <img src="salvapictures/3.jpg" alt="" width="250px">
			            </div>
			        </div>
			    </div>

			    <div id="bottom">
			        <div style="color: green">
			               <img src="salvapictures/5.jpg" alt="" width="250px">
			        </div>
			        <div id="asd">
			            <div class="b">
			                <img src="salvapictures/8.jpg" alt="" width="250px">
			            </div>
			            <div class="a">
			            	 <img src="salvapictures/9.jpg" alt="" width="250px">
			            </div>
			        </div>
			    </div>
			</div>

	    <footer>
	        <section id="top-footer">
	            <nav class="footer--nav">
	                 <div class="logo">
	                    <a href="#">
	                        <img src="assets/logosalva.png" alt="">
	                    </a>
	                  </div>
	                   <div class="footer--links" id="footer--links">
	                        <a href="index.html">Inicio</a>
	                        <a href="#donation-id--ref">Dona</a>
	                        <a href="#adoption-id--ref">Adopta</a>
	                        <a href="#friend-id--ref">Apadrina</a>
	                        <a href="#contact-id--ref">Contáctanos</a>
	                    </div>
	             </nav>
	        </section>

	                <section id="bottom-footer">
	                    <nav class="footer--social-nav">
	                        <div id="footer_description">
	                            <h3>Fundación Salva © 2017 | Todos Los Derechos Reservados.</h3>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.</p>
	                        </div>
	                        <div class="footer--social" id="footer--social">
	                            <a href="https://es-la.facebook.com/fundacion.salva/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	                            <a href="https://twitter.com/fundacionsalva" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	                            <a href="https://www.instagram.com/fundacion.salva_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	                            <a href="https://www.youtube.com/channel/UCshCf1NFRfq06MSr9PIK0Lg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
	                        </div>
	                    </nav>
	                </section>
	        	</footer>
	        </main>
				
	 		<script src="js/headroom.min.js"></script>
	        <script src="js/jquery.min.js"></script>    
	        <script src="js/menu.js"></script>
	        <script src="js/modal.js"></script>
	</body>
</html>